<div class="content-box" [style.background-image]="{ 'url(' + {{imageurl()}} + ')'}"></div>
<div class="text-box">
    <p>
        &#176; Edenstep, a land shaped by the hands of the gods themselves, is a place where divine power pulses through the very earth. 
    </p>
    
    <p>
        &#176; Continent is a nexus of holy magic, where ancient prophecies speak of celestial beings walking among mortals. 
    </p>

    <p>
        &#176; The gods are never distant, their influence felt in every corner of the continent 
    </p>
</div>
