<div class="header-container"></div>
<div class="main-container">

    <div class="image-container">
      <img src="mainmenu.jpg" class="background-image"  />
      <h1 class="image-text">A land where you are just one step away from Heaven</h1>
    </div>
    

    <div class="image-space"></div>

    <div class="main-content-container">
      
     <h1 class="main-title">Everything you need to know</h1>
     <app-content-box
     [imageurl]="'/GodsOversee.jpg'"
     ></app-content-box>
    </div>



  

  </div>

