:host {
  display: block;
  width: 80%;
  min-height: 280px;
  background-color: var(--beige2);
  border: 1px solid black;
  border-radius: 25px;
  margin-bottom: 24px;
}

.content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: transform 1s ease-out, opacity 1s ease-out; /* Add transition effects */
  transform: translateX(50px); /* Start from 50px to the right */
  opacity: 0; /* Start with opacity 0 */
}

.content-div.visible {
  transform: translateX(0); /* Move to the normal position */
  opacity: 1; /* Fade in to normal opacity */
}

.column-reverse {
  flex-direction: row-reverse; /* Reverse order when class is applied */
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: none;
  margin: none;
  width: 55%;
  min-width: 120px;

  height: 80%;

  border: none;
  font-family: Roboto;
  font-size: clamp(0.7em, 1.1em, 1.5em);
  overflow-x: auto;
  overflow-y: hidden;
  color: var(--darkgold);
  text-shadow: 1px 1px 5px rgba(255, 215, 0, 0.5);
  font-weight: 400;
}

.content-box {
  position: relative;
  margin-left: 16px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
  width: 35%;

  height: 85%;
  background: url("/GodsOversee.jpg") no-repeat center center;
  background-size: 100% 100%;
  transition: filter 0.15s ease-in-out;
}

.content-box:hover {
  filter: brightness(75%); /* Darkens the background image */
}

.hover-tooltip {
  font-size: clamp(1rem, 16px, 1.8rem);
  text-align: center;
  background-color: rgb(58, 58, 58);
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 35px;
  right: 0px;
  width: 100%;
  font-family: Roboto;
  font-weight: 400;
  padding: 6px 0px;
  mix-blend-mode: normal;
  opacity: 0;
  transform: translateY(50px); /* Start 50px lower */
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.content-box:hover .hover-tooltip {
  opacity: 1;
  transform: translateY(0); /* Moves up into position */
}
